body {
    background-color: rgb(129, 98, 98);
    font-family: 'Trebuchet MS', Arial, sans-serif;
  }
  
  #text {
    background-color: black;
    color: white;
    padding: 10px;
  }
  
  #game {
    max-width: 800px;
    max-height: 400px;
    background-color: lightgray;
    color: white;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 6px 24px, rgba(0, 0, 0, 0.8) 0 0 1px;
  }
  
  #controls {
    border: 1px black solid;
    padding: 10px;
  }
  
  #stats {
    border: 1px black solid;
    color: black;
    padding: 10px;
  }
  
  #monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
  }
  
  .stat {
    padding-right: 10px;
  }